/* TaxForm.css */
.info-box {
    background-color: lightskyblue;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 350px;
    justify-content: center;
}

.info-box2 {
    background-color: #f0f0f0;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}
  /* 간단한 스타일링을 적용한 테이블 */
  table {
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid black;
  }
  th, td {
    padding: 0.25rem 0.5rem;
  }
  